<h1>Créer une nouvelle liste :</h1>
<%= form_with(model: @list, url: lists_path) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit "Créer" %>
  </div>
<% end %>
